ul.boardlist li {
  margin: 2px;
  white-space: nowrap;
}

body {
  line-height: initial !important;
}

a.qty {
  font-family: "beleren bold";
  background: black;
  padding: 2px 6px;
  border: 2px solid white;
  border-radius: 50vh 0 0 50vh;
  padding-right: 15px;
  margin-right: -19px;
}

.illegal-card a.qty {
  color: red !important;
  border-color: red !important;
}

.card {
  white-space: nowrap;
  display: inline-block;
}

.card a.card-link {
  display: inline-block;
  position: relative;
  padding: 1.5px 5px;
  color: #1f1e1f;
  font-family: "beleren bold";
  background: #efe777;
  border-radius: 50vh;
}

.card a.card-link:before {
  position: absolute;
  content: attr(data-name);
  padding-left: 3px;
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  border-radius: 50vh;
  z-index: 1;
  background: #d9c174;
}

.card a.card-link[data-image*="//static.tappedout.net/mtg-cards-2/kaladesh-inventions"]:before {
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #d6833a), color-stop(90%, #973301)) !important;
  background: linear-gradient(to right, #d6833a 10%, #973301 90%) !important;
}

.card a.card-link.foil-card:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: 50vh;
  z-index: 2;
  background: url(foil/foil-overlay-20.png) repeat 0 0;
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
}

.card a + a {
  height: 21px;
  width: 21px;
  margin-bottom: -7px;
  margin-left: 1px;
  content: url(alter/alter-icon-back.svg);
}

.card:hover a.card-link + a {
  content: url(alter/alter-icon-front.svg);
}

img[alt="IT"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/IT.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="ES"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/ES.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="KO"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/KO.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="ZH"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/ZH.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="RU"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/RU.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="JA"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/JA.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="DE"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/DE.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="PT"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/PT.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

img[alt="FR"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: url(language/FR.svg) no-repeat;
  width: 21px;
  height: 21px;
  padding-left: 21px;
  margin-left: 1px;
}

@-webkit-keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

@keyframes slide {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -400px 0;
  }
}

[src*="foil-icon.jpg"] {
  display: none;
}

.popover {
  border: none !important;
  background: none !important;
  padding: 0 !important;
}

.popover .arrow {
  display: none !important;
}

.popover-content {
  padding: 0 !important;
  border-radius: 10px !important;
}

.popover-content [style*="width:220px"] {
  width: 100% !important;
}

.popover-content [style*="foil-card-overlay-2.png"] {
  background-image: url(foil/foil-overlay-20-large.png) !important;
  background-size: auto auto !important;
  background-repeat: repeat;
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
  border-radius: 10px;
}

.popover-content img {
  border-radius: 10px !important;
}

.commander-img[data-foil="true"] + .popover .popover-content {
  position: relative;
}

.commander-img[data-foil="true"] + .popover .popover-content:after {
  position: absolute;
  content: "";
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-image: url(foil/foil-overlay-20-large.png) !important;
  background-size: auto auto !important;
  background-repeat: repeat;
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
  border-radius: 10px;
}

.tooltip {
  left: -38px !important;
}

.tooltip p {
  display: inline;
}

.tooltip a {
  height: 20px;
  width: 20px;
  border-radius: 100%;
}

.tooltip .tooltip-arrow {
  border: none;
}

.tooltip .tooltip-inner {
  background: none;
}

.card-color-white:not(.card-color-blue):not(.card-color-black):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: #f7f8ee !important;
}

.card-color-blue:not(.card-color-white):not(.card-color-black):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-blue"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: #3459ae !important;
}

.card-color-black:not(.card-color-white):not(.card-color-blue):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-black"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: #1c1512 !important;
}

.card-color-red:not(.card-color-white):not(.card-color-blue):not(.card-color-black):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link {
  background: #f5081f !important;
}

.card-color-green:not(.card-color-white):not(.card-color-blue):not(.card-color-black):not(.card-color-red) a.card-link,
.card-type-land[class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link {
  background: #3e7632 !important;
}

.card-color-white.card-color-blue:not(.card-color-black):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-white"][class*="card-mana-blue"]:not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f7f8ee), color-stop(60%, #3459ae)) !important;
  background: linear-gradient(to right, #f7f8ee 40%, #3459ae 60%) !important;
}

.card-color-white.card-color-black:not(.card-color-blue):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-white"][class*="card-mana-black"]:not([class*="card-mana-blue"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f7f8ee), color-stop(60%, #1c1512)) !important;
  background: linear-gradient(to right, #f7f8ee 40%, #1c1512 60%) !important;
}

.card-color-blue.card-color-black:not(.card-color-white):not(.card-color-red):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-blue"][class*="card-mana-black"]:not([class*="card-mana-white"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3459ae), color-stop(60%, #1c1512)) !important;
  background: linear-gradient(to right, #3459ae 40%, #1c1512 60%) !important;
}

.card-color-blue.card-color-red:not(.card-color-white):not(.card-color-black):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-blue"][class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3459ae), color-stop(60%, #f5081f)) !important;
  background: linear-gradient(to right, #3459ae 40%, #f5081f 60%) !important;
}

.card-color-black.card-color-green:not(.card-color-white):not(.card-color-blue):not(.card-color-red) a.card-link,
.card-type-land[class*="card-mana-black"][class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-red"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #1c1512), color-stop(60%, #3e7632)) !important;
  background: linear-gradient(to right, #1c1512 40%, #3e7632 60%) !important;
}

.card-color-black.card-color-red:not(.card-color-white):not(.card-color-blue):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-black"][class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #1c1512), color-stop(60%, #f5081f)) !important;
  background: linear-gradient(to right, #1c1512 40%, #f5081f 60%) !important;
}

.card-color-red.card-color-white:not(.card-color-blue):not(.card-color-black):not(.card-color-green) a.card-link,
.card-type-land[class*="card-mana-red"][class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f5081f), color-stop(60%, #f7f8ee)) !important;
  background: linear-gradient(to right, #f5081f 40%, #f7f8ee 60%) !important;
}

.card-color-red.card-color-green:not(.card-color-white):not(.card-color-blue):not(.card-color-black) a.card-link,
.card-type-land[class*="card-mana-red"][class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f5081f), color-stop(60%, #3e7632)) !important;
  background: linear-gradient(to right, #f5081f 40%, #3e7632 60%) !important;
}

.card-color-green.card-color-white:not(.card-color-blue):not(.card-color-black):not(.card-color-red) a.card-link,
.card-type-land[class*="card-mana-green"][class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3e7632), color-stop(60%, #f7f8ee)) !important;
  background: linear-gradient(to right, #3e7632 40%, #f7f8ee 60%) !important;
}

.card-color-green.card-color-blue:not(.card-color-white):not(.card-color-black):not(.card-color-red) a.card-link,
.card-type-land[class*="card-mana-green"][class*="card-mana-blue"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3e7632), color-stop(60%, #3459ae)) !important;
  background: linear-gradient(to right, #3e7632 40%, #3459ae 60%) !important;
}

.card-color-white:not(.card-color-blue):not(.card-color-black):not(.card-color-red):not(.card-color-green) a.card-link:before,
.card-type-land[class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before {
  background: #dedede;
}

.card-color-blue:not(.card-color-white):not(.card-color-black):not(.card-color-red):not(.card-color-green) a.card-link:before,
.card-type-land[class*="card-mana-blue"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before {
  background: #b2cde2;
}

.card-color-black:not(.card-color-white):not(.card-color-blue):not(.card-color-red):not(.card-color-green) a.card-link:before,
.card-type-land[class*="card-mana-black"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before {
  background: #c4bfba;
}

.card-color-red:not(.card-color-white):not(.card-color-blue):not(.card-color-black):not(.card-color-green) a.card-link:before,
.card-type-land[class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link:before {
  background: #fabe99;
}

.card-color-green:not(.card-color-white):not(.card-color-blue):not(.card-color-black):not(.card-color-red) a.card-link:before,
.card-type-land[class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link:before {
  background: #becdc0;
}

.card-type-artifact[class*="card-color-colorless-cost"] a.card-link {
  background: #e4e5e5;
}

.card-type-artifact[class*="card-color-colorless-cost"] a.card-link:before {
  background: #d5dde1;
}

[class*="card-color-colorless-cost"]:not(.card-type-artifact):not(.card-type-land)
a.card-link {
  background: #e5e7e9;
}

[class*="card-color-colorless-cost"]:not(.card-type-artifact):not(.card-type-land)
a.card-link:before {
  background: #dad5d1;
}

.card-type-land[class*="card-mana-white"][class*="card-mana-blue"]:not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-white"][class*="card-mana-black"]:not([class*="card-mana-blue"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-blue"][class*="card-mana-black"]:not([class*="card-mana-white"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-blue"][class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-black"][class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-red"]) a.card-link:before, .card-type-land[class*="card-mana-black"][class*="card-mana-red"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-red"][class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-green"]) a.card-link:before, .card-type-land[class*="card-mana-red"][class*="card-mana-green"]:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]) a.card-link:before, .card-type-land[class*="card-mana-green"][class*="card-mana-white"]:not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link:before, .card-type-land[class*="card-mana-green"][class*="card-mana-blue"]:not([class*="card-mana-white"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]) a.card-link:before {
  background: #cdc2bf !important;
}

.card-type-land.card-type-land:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link {
  background: #988b7e;
}

.card-type-land.card-type-land:not([class*="card-mana-white"]):not([class*="card-mana-blue"]):not([class*="card-mana-black"]):not([class*="card-mana-red"]):not([class*="card-mana-green"]) a.card-link:before {
  background: #cdc2bf !important;
}

a[data-name="Murmuring Bosk"].card-link:before {
  background: #becdc0 !important;
}

a[data-name="Arid Mesa"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f5081f), color-stop(60%, #f7f8ee)) !important;
  background: linear-gradient(to right, #f5081f 40%, #f7f8ee 60%) !important;
}

a[data-name="Bloodstained Mire"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #1c1512), color-stop(60%, #f5081f)) !important;
  background: linear-gradient(to right, #1c1512 40%, #f5081f 60%) !important;
}

a[data-name="Flooded Strand"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f7f8ee), color-stop(60%, #3459ae)) !important;
  background: linear-gradient(to right, #f7f8ee 40%, #3459ae 60%) !important;
}

a[data-name="Marsh Flats"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f7f8ee), color-stop(60%, #1c1512)) !important;
  background: linear-gradient(to right, #f7f8ee 40%, #1c1512 60%) !important;
}

a[data-name="Misty Rainforest"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3e7632), color-stop(60%, #3459ae)) !important;
  background: linear-gradient(to right, #3e7632 40%, #3459ae 60%) !important;
}

a[data-name="Polluted Delta"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3459ae), color-stop(60%, #1c1512)) !important;
  background: linear-gradient(to right, #3459ae 40%, #1c1512 60%) !important;
}

a[data-name="Scalding Tarn"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3459ae), color-stop(60%, #f5081f)) !important;
  background: linear-gradient(to right, #3459ae 40%, #f5081f 60%) !important;
}

a[data-name="Verdant Catacombs"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #1c1512), color-stop(60%, #3e7632)) !important;
  background: linear-gradient(to right, #1c1512 40%, #3e7632 60%) !important;
}

a[data-name="Windswept Heath"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #3e7632), color-stop(60%, #f7f8ee)) !important;
  background: linear-gradient(to right, #3e7632 40%, #f7f8ee 60%) !important;
}

a[data-name="Wooded Foothills"].card-link {
  background: -webkit-gradient(linear, left top, right top, color-stop(40%, #f5081f), color-stop(60%, #3e7632)) !important;
  background: linear-gradient(to right, #f5081f 40%, #3e7632 60%) !important;
}

[data-name="Temple of Aclazotz"], [data-name="Sanctum of the Sun"], [data-name="Conqueror's Foothold"], [data-name="Lost Vale"], [data-name="Gold-Forge Garrison"], [data-name="Itlimoc, Cradle of the Sun"], [data-name="Winged Temple of Orazca"], [data-name="Atzal, Cave of Eternity"], [data-name="Adanto, the First Fort"], [data-name="Metzali, Tower of Triumph"], [data-name="Primal Wellspring"], [data-name="Tomb of the Dusk Rose"], [data-name="Azcanta, the Sunken Ruin"], [data-name="Vault of Catlacan"], [data-name="Spires of Orazca"], [data-name="Treasure Cove"], [data-name="Spitfire Bastion"] {
  visibility: visible !important;
  content: url(transform/compass.svg);
  height: 21.5px;
  border-color: transparent !important;
  background: white !important;
  margin-bottom: -7px;
  margin-left: -2px;
  margin-top: -3px;
  padding: 0px !important;
  border-radius: 50%;
  border: 1px solid white;
}

[data-name="Temple of Aclazotz"]:hover, [data-name="Sanctum of the Sun"]:hover, [data-name="Conqueror's Foothold"]:hover, [data-name="Lost Vale"]:hover, [data-name="Gold-Forge Garrison"]:hover, [data-name="Itlimoc, Cradle of the Sun"]:hover, [data-name="Winged Temple of Orazca"]:hover, [data-name="Atzal, Cave of Eternity"]:hover, [data-name="Adanto, the First Fort"]:hover, [data-name="Metzali, Tower of Triumph"]:hover, [data-name="Primal Wellspring"]:hover, [data-name="Tomb of the Dusk Rose"]:hover, [data-name="Azcanta, the Sunken Ruin"]:hover, [data-name="Vault of Catlacan"]:hover, [data-name="Spires of Orazca"]:hover, [data-name="Treasure Cove"]:hover, [data-name="Spitfire Bastion"]:hover {
  content: url(transform/land.svg) !important;
}

[data-name="Chandra, Roaring Flame"], [data-name="Jace, Telepath Unbound"], [data-name="Gideon, Battle-Forged"], [data-name="Liliana, Defiant Necromancer"], [data-name="Nicol Bolas, the Arisen"], [data-name="Nissa, Sage Animist"] {
  visibility: visible !important;
  content: url(transform/spark.svg);
  height: 21.5px;
  border-color: transparent !important;
  background: white !important;
  margin-bottom: -7px;
  margin-left: -2px;
  margin-top: -3px;
  padding: 0px !important;
  border-radius: 50%;
  border: 1px solid white;
}

[data-name="Chandra, Roaring Flame"]:hover, [data-name="Jace, Telepath Unbound"]:hover, [data-name="Gideon, Battle-Forged"]:hover, [data-name="Liliana, Defiant Necromancer"]:hover, [data-name="Nicol Bolas, the Arisen"]:hover, [data-name="Nissa, Sage Animist"]:hover {
  content: url(transform/ignite.svg) !important;
}

[data-name="Conduit of Emrakul"], [data-name="Aurora of Emrakul"], [data-name="Voracious Reader"], [data-name="Final Iteration"], [data-name="Extricator of Flesh"], [data-name="Grisly Anglerfish"], [data-name="Sinuous Predator"], [data-name="It That Rides as One"], [data-name="Howling Chorus"], [data-name="Erupting Dreadwolf"], [data-name="Fibrous Entangler"], [data-name="Ulvenwald Abomination"], [data-name="Dronepack Kindred"], [data-name="Abolisher of Bloodlines"] {
  visibility: visible !important;
  content: url(transform/fullmoon.svg);
  height: 21.5px;
  border-color: transparent !important;
  background: white !important;
  margin-bottom: -7px;
  margin-left: -2px;
  margin-top: -3px;
  padding: 0px !important;
  border-radius: 50%;
  border: 1px solid white;
}

[data-name="Conduit of Emrakul"]:hover, [data-name="Aurora of Emrakul"]:hover, [data-name="Voracious Reader"]:hover, [data-name="Final Iteration"]:hover, [data-name="Extricator of Flesh"]:hover, [data-name="Grisly Anglerfish"]:hover, [data-name="Sinuous Predator"]:hover, [data-name="It That Rides as One"]:hover, [data-name="Howling Chorus"]:hover, [data-name="Erupting Dreadwolf"]:hover, [data-name="Fibrous Entangler"]:hover, [data-name="Ulvenwald Abomination"]:hover, [data-name="Dronepack Kindred"]:hover, [data-name="Abolisher of Bloodlines"]:hover {
  content: url(transform/emrakul.svg) !important;
}

[data-name="Perfected Form"], [data-name="Infectious Curse"], [data-name="Werewolf Ransacker"], [data-name="Avacyn, the Purifier"], [data-name="Arlinn, Embraced by the Moon"], [data-name="Ancient of the Equinox"], [data-name="Lunarch Inquisitors"], [data-name="Lord of Lineage"], [data-name="Neck Breaker"], [data-name="Chalice of Death"], [data-name="Markov's Servant"], [data-name="Homicidal Brute"], [data-name="Unholy Fiend"], [data-name="Branded Howler"], [data-name="Bearer of Overwhelming Truths"], [data-name="Nightfall Predator"], [data-name="Insectile Aberration"], [data-name="Krallenhorde Howler"], [data-name="Withengar Unbound"], [data-name="Insidious Mist"], [data-name="Garruk, the Veil-Cursed"], [data-name="Gatstaf Ravagers"], [data-name="Gatstaf Howler"], [data-name="Vildin-Pack Alpha"], [data-name="Krallenhorde Wantons"], [data-name="Westvale Cult Leader"], [data-name="Bane of Hanweir"], [data-name="Scrounged Scythe"], [data-name="Heir to the Night"], [data-name="Lone Wolf of the Natterknolls"], [data-name="Hinterland Scourge"], [data-name="Timber Shredder"], [data-name="Ravager of the Fells"], [data-name="Wildblood Pack"], [data-name="Flameheart Werewolf"], [data-name="Demon-Possessed Witch"], [data-name="Terror of Kruin Pass"], [data-name="Silverpelt Werewolf"], [data-name="Lambholt Butcher"], [data-name="Unhallowed Cathar"], [data-name="Ludevic's Abomination"], [data-name="Howlpack Alpha"], [data-name="Tovolar's Magehunter"], [data-name="Ashmouth Blade"], [data-name="Wayward Disciple"], [data-name="Archdemon of Greed"], [data-name="Merciless Predator"], [data-name="Werewolf of Ancient Hunger"], [data-name="Moonscarred Werewolf"], [data-name="Stalking Vampire"], [data-name="Skin Shedder"], [data-name="One of the Pack"], [data-name="Ghastly Haunting"], [data-name="Persistent Nightmare"], [data-name="Awoken Horror"], [data-name="Stonewing Antagonizer"], [data-name="Thraben Militia"], [data-name="Rampaging Werewolf"], [data-name="Incited Rabble"], [data-name="Ulrich, Uncontested Alpha"], [data-name="Ulvenwald Primordials"], [data-name="Unimpeded Trespasser"], [data-name="Ironfang"], [data-name="Moonrise Intruder"], [data-name="Howlpack of Estwald"], [data-name="Ormendahl, Profane Prince"], [data-name="Krallenhorde Killer"] {
  visibility: visible !important;
  content: url(transform/sun.svg);
  height: 21.5px;
  border-color: transparent !important;
  background: white !important;
  margin-bottom: -7px;
  margin-left: -2px;
  margin-top: -3px;
  padding: 0px !important;
  border-radius: 50%;
  border: 1px solid white;
}

[data-name="Perfected Form"]:hover, [data-name="Infectious Curse"]:hover, [data-name="Werewolf Ransacker"]:hover, [data-name="Avacyn, the Purifier"]:hover, [data-name="Arlinn, Embraced by the Moon"]:hover, [data-name="Ancient of the Equinox"]:hover, [data-name="Lunarch Inquisitors"]:hover, [data-name="Lord of Lineage"]:hover, [data-name="Neck Breaker"]:hover, [data-name="Chalice of Death"]:hover, [data-name="Markov's Servant"]:hover, [data-name="Homicidal Brute"]:hover, [data-name="Unholy Fiend"]:hover, [data-name="Branded Howler"]:hover, [data-name="Bearer of Overwhelming Truths"]:hover, [data-name="Nightfall Predator"]:hover, [data-name="Insectile Aberration"]:hover, [data-name="Krallenhorde Howler"]:hover, [data-name="Withengar Unbound"]:hover, [data-name="Insidious Mist"]:hover, [data-name="Garruk, the Veil-Cursed"]:hover, [data-name="Gatstaf Ravagers"]:hover, [data-name="Gatstaf Howler"]:hover, [data-name="Vildin-Pack Alpha"]:hover, [data-name="Krallenhorde Wantons"]:hover, [data-name="Westvale Cult Leader"]:hover, [data-name="Bane of Hanweir"]:hover, [data-name="Scrounged Scythe"]:hover, [data-name="Heir to the Night"]:hover, [data-name="Lone Wolf of the Natterknolls"]:hover, [data-name="Hinterland Scourge"]:hover, [data-name="Timber Shredder"]:hover, [data-name="Ravager of the Fells"]:hover, [data-name="Wildblood Pack"]:hover, [data-name="Flameheart Werewolf"]:hover, [data-name="Demon-Possessed Witch"]:hover, [data-name="Terror of Kruin Pass"]:hover, [data-name="Silverpelt Werewolf"]:hover, [data-name="Lambholt Butcher"]:hover, [data-name="Unhallowed Cathar"]:hover, [data-name="Ludevic's Abomination"]:hover, [data-name="Howlpack Alpha"]:hover, [data-name="Tovolar's Magehunter"]:hover, [data-name="Ashmouth Blade"]:hover, [data-name="Wayward Disciple"]:hover, [data-name="Archdemon of Greed"]:hover, [data-name="Merciless Predator"]:hover, [data-name="Werewolf of Ancient Hunger"]:hover, [data-name="Moonscarred Werewolf"]:hover, [data-name="Stalking Vampire"]:hover, [data-name="Skin Shedder"]:hover, [data-name="One of the Pack"]:hover, [data-name="Ghastly Haunting"]:hover, [data-name="Persistent Nightmare"]:hover, [data-name="Awoken Horror"]:hover, [data-name="Stonewing Antagonizer"]:hover, [data-name="Thraben Militia"]:hover, [data-name="Rampaging Werewolf"]:hover, [data-name="Incited Rabble"]:hover, [data-name="Ulrich, Uncontested Alpha"]:hover, [data-name="Ulvenwald Primordials"]:hover, [data-name="Unimpeded Trespasser"]:hover, [data-name="Ironfang"]:hover, [data-name="Moonrise Intruder"]:hover, [data-name="Howlpack of Estwald"]:hover, [data-name="Ormendahl, Profane Prince"]:hover, [data-name="Krallenhorde Killer"]:hover {
  content: url(transform/moon.svg) !important;
}
